<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd.xsd"
         version="3.1">
  <!--spring支持-->
  <!--初始化spring容器-->
  <!--sprin的初始化配置通过listener标签加载spring配置文件  默认到WEB-INF下加载名字叫做applicationContext.xml-->
<listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
  <!--通过context-param标签加载指定的配置文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext-*.xml</param-value>
  </context-param>

  <!--spring-mvc支持-->
  <!--编码过滤器-->
 <filter>
   <!--解决post乱码-->
   <filter-name>CharacterEncodingFilter</filter-name>
   <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <!--处理请求乱码-->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
   <!--处理响应乱码-->
   <init-param>
     <param-name>forceEncoding</param-name>
     <param-value>true</param-value>
   </init-param>
 </filter>
<filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
<!--spring-mvc的前端控制器-->
<!--配置springMvc分发器，DispatcherServlet 默认加载WEB-INF下的servlet-name-servlet.xml配置文件    spring-mvc.xml-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--spring-mvc的配置文件默认在： WEB-INF/servlet的name+"-servlet.xml"-->
    <!--配置springMVC需要加载的配置文件 通过初始化参数指定配置文件，然后就跟servlet-name中的值没有关系了-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-mvc.xml</param-value>
    </init-param>
    <!--大于等于1时 启动服务时 实例化 / 初始化-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <!--匹配所有请求 ，此处也可以配置成 *.do 形式-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>


  <!--设置session无操作 5分钟后销毁-->
<!--  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>-->
</web-app>
