<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:content="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	<!--扫描包-->
	 <content:component-scan base-package="com.ljt.dao" />
	<!--加载类配置文件-->
	 <!-- 扫描并读取jdbc.properties -->
	 <content:property-placeholder location="classpath:properties/jdbc.properties"/>
	<!--配置数据源 数据库连接池-->
	 <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		 <!--配置驱动-->
	 	<property name="driverClassName" value="${jdbc.driverClassName}" />
	 	<property name="url" value="${jdbc.url}" />
	 	<property name="username" value="${jdbc.username}" />
	 	<property name="password" value="${jdbc.password}" />
	 </bean>
	 <!-- 配置JDBC模板 -->
	 <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	 	<property name="dataSource" ref="dataSource" />
	 </bean>

	<!--让spring管理sqlSessionFactory-->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
         <property name="dataSource" ref="dataSource"/>
         &lt;!&ndash;加载mybatis的全局配置文件&ndash;&gt;
         <property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"/>
     </bean>
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
             &lt;!&ndash; 具体dao层包的位置在哪，视你新建的dao层java包而定 &ndash;&gt;
             <property name="basePackage" value="ljt.dao"/>
     </bean>-->
</beans>